@model WEB_APPLICATION.Models.Alerta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3  >Are you sure you want to delete this?</h3>
<div   >
    <h4 >Alerta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecipitacionProm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecipitacionProm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecipitacionMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecipitacionMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecipitacionMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecipitacionMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel.Riesgo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Modelo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAlerta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista de Alertas</a>
    </form>
</div>
