@*@model IEnumerable<WEB_APPLICATION.Models.Alerta>*@
@*@using PagedList.Mvc;*@
@model WEB_APPLICATION.Util.PaginatedList<WEB_APPLICATION.Models.Alerta>



@{
    ViewData["Title"] = "Index";
}

<h1>Alertas</h1>

@*<p >
    <a asp-action="Create">Registrar</a>
</p>*@

@using (Html.BeginForm("Index", "Alertas", FormMethod.Get))
{
    
    @* <input type="text" name="quebrada" value="@ViewData["currentFilter"]" />*@
    <p>
        Quebrada:  @Html.DropDownList("quebrada","Todas") 
        <input type="submit" value="Filter" /></p>
}


<table class="table table-striped table-bordered">
    <thead class="bg-primary" style="color:whitesmoke">
        <tr>
            <th>
               P.Acum
            </th>
            <th>
                P.Max
            </th>
            <th>
               P.Min
            </th>
            <th>
                Descripcion
                @*@Html.DisplayNameFor(model => model.Descripcion)*@
            </th>
            <th>
                FechaRegistro
                @*@Html.DisplayNameFor(model => model.FechaRegistro)*@
            </th>
            <th>
                Nivel
                @*@Html.DisplayNameFor(model => model.Nivel)*@
            </th>
            <th>
                Sensor
             @*   @Html.DisplayNameFor(model => model.Sensor)*@
            </th>

    @*          <th>
                <a asp-action="Index" asp-route-currentFilter="@ViewData["currentFilter"]">Quebrada</a>
            </th>*@
            <th>
                Quebrada
                @*@Html.DisplayNameFor(model => model.Sensor.Quebrada)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr  >
            <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionProm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel.Riesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensor.Modelo)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Sensor.Quebrada.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlerta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlerta">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlerta">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["currentFilter"]"
   class="btn btn-default @prevDisabled" style="border-color:#0062cc">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["currentFilter"]"
   class="btn btn-default @nextDisabled" style="border-color:#0062cc">
    Next
</a>


Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages