@model IEnumerable<WEB_APPLICATION.Models.Pasaporte>

@{
    ViewData["Title"] = "Index";
}

<h1>Numeros de Pasaporte Registrados</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="bg-primary" style="color:whitesmoke">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais.IdPais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPasaporte">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPasaporte">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPasaporte">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
