@model IEnumerable<WEB_APPLICATION.Models.Recomendacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Recomendaciones</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="bg-primary" style="color:whitesmoke">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel.Riesgo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRecomendacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRecomendacion">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRecomendacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
