@model WEB_APPLICATION.Models.Nivel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nivel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Riesgo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Riesgo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecipitacionLimSup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecipitacionLimSup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecipitacionLimInf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecipitacionLimInf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNivel">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
