@model IEnumerable<WEB_APPLICATION.Models.Nivel>

@{
    ViewData["Title"] = "Index";
}

<h1>Niveles</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="bg-primary" style="color:whitesmoke">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Riesgo)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.PrecipitacionLimInf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecipitacionLimSup)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Riesgo)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionLimInf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionLimSup)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNivel">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdNivel">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNivel">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
