@model IEnumerable<WEB_APPLICATION.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1  >Departamentos (Peru)</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="bg-primary" style="color:whitesmoke">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr  >
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDepartamento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDepartamento">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDepartamento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
