@model IEnumerable<WEB_APPLICATION.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Paises</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="bg-primary" style="color:whitesmoke">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gentilicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gentilicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continente.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPais">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPais">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPais">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
