@model IEnumerable<WEB_APPLICATION.Models.Sensor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecipitacionMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecipitacionMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quebrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wifi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecipitacionMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quebrada.IdQuebrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wifi.IdWifi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSensor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSensor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSensor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
