@model IEnumerable<WEB_APPLICATION.Models.Motivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Motivos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Detalle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMotivo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMotivo">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMotivo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
